<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.frontend_model.dao.PositionMapper">

    <update id="update"
            parameterType="com.example.frontend_model.entity.Position"
            keyProperty="id">
        update position
        set id = #{position.id}
        <if test="position.title != null and position.title != ''">
            , title = #{position.title}
        </if>
        <if test="position.salary != null">
            , salary = #{position.salary}
        </if>
        <if test="position.describe != null and position.describe != ''">
            , describe = #{position.describe}
        </if>
        <if test="position.baseId != null">
            , base_id = #{position.baseId}
        </if>
        <if test="position.company != null and position.company != ''">
            , company = #{position.company}
        </if>
        <if test="position.imgSets != null">
            , img_sets = #{position.imgSets}
        </if>
        <if test="position.tagSets != null">
            , tag_sets = #{position.tagSets}
        </if>
        <if test="position.createTime != null">
            , create_time = #{position.createTime}
        </if>
        <if test="position.updateTime != null">
            , update_time = #{position.updateTime}
        </if>
        <if test="position.isDeleted != null">
            , is_deleted = #{position.isDeleted}
        </if>
        where id = #{position.id}
    </update>

    <insert id="insert"
            parameterType="com.example.frontend_model.entity.Position"
            keyProperty="id">
        insert into position (
        <if test="position.id != null">id,</if>
        <if test="position.title != null and position.title != ''">title,</if>
        <if test="position.salary != null">salary,</if>
        <if test="position.describe != null and position.describe != ''">describe,</if>
        <if test="position.baseId != null">base_id,</if>
        <if test="position.company != null and position.company != ''">company,</if>
        <if test="position.imgSets != null">img_sets,</if>
        <if test="position.tagSets != null">tag_sets,</if>
        <if test="position.createTime != null">create_time,</if>
        <if test="position.updateTime != null">update_time,</if>
        is_deleted
        ) values (
        <if test="position.id != null">#{position.id},</if>
        <if test="position.title != null and position.title != ''">#{position.title},</if>
        <if test="position.salary != null">#{position.salary},</if>
        <if test="position.describe != null and position.describe != ''">#{position.describe},</if>
        <if test="position.baseId != null">#{position.baseId},</if>
        <if test="position.company != null and position.company != ''">#{position.company},</if>
        <if test="position.imgSets != null">#{position.imgSets},</if>
        <if test="position.tagSets != null">#{position.tagSets},</if>
        <if test="position.createTime != null">#{position.createTime},</if>
        <if test="position.updateTime != null">#{position.updateTime},</if>
        #{position.isDeleted}
        )
    </insert>

</mapper>